@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 15px;
}

/*Main*/
main{
    position: relative;
    height: calc(100% - 80px);
    background-color: #141922;
    overflow: hidden;
}

.clearfix:after{
    content: '';
    clear: both;
    display: table;
}

.not-mobile{
    display: none;
}

/*Sezione UPGRADE*/
#upgrade{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 50px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
}

#upgrade a{
    margin-right: 30px;
    border: 1px solid #bdbebf;
    border-radius: 50px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #bdbebf;
    transition: 0.3s;
}

#upgrade a:hover{
    border: 1px solid #fff;
    color: #fff;
    transform: scale(1.2);
}

/*Sezione Container Album*/
main .container-albums{
    height: calc(100vh - 80px);
    width: calc(100% - 50px);
    padding-top: 80px;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}

/*Nav*/
.type ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.type li{
    list-style: none;
    margin: 0 10px;
    line-height: 50px;
    color: #77797e;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bolder;
}

.type li:hover{
    color: #fff;
    cursor: pointer;
}
.type ul div{
    margin-top: -15px;
    width: 30px;
    border-bottom: 1px solid #adff2f;
}

.marker{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Albums*/
.view-albums{
    width: 90%;
    margin: 0 auto;  
}

.row{
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.album img{
    width: 100%;
}
.album h4{
    font-size: 13px;
    margin: 10px 34px;
}
.view-albums .row .album span, .view-albums span{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 11px;
    color: #727479;
}

.album{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.row .album .circular-img{
    border-radius: 50%;
}

.view-albums h1{
    font-size: 22px;
}

.view-albums span, .view-albums h1{
    margin-left: 15px;
}

.img-album{
    position: relative;
}

.play-album{
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
}

.play-album .fa-circle-play{
    font-size: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.album:hover .play-album{
    display: block;
    cursor: pointer;
}

/*Left Menu*/
.left-menu{
    width: 50px;
    float: left;
    height: calc(100vh - 80px);
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-menu .container-nav-top{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-menu .container-nav-top .menu-nav-top{
    height: 150px;
    width: 25px;
}

.left-menu .container-nav-top .menu-nav-top ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.menu-nav-top li img,
.menu-nav-bottom li img{
    filter: invert(0.5);
    transition: 0.5s;
}
.menu-nav-top li:hover img,
.menu-nav-bottom li:hover img{
    filter: invert(0);
}
.menu-nav-top li .active img,
.left-menu .container-nav-bottom .menu-nav-bottom .user img{
    filter: invert(0);
}


.left-menu .container-nav-top .menu-nav-top li,
.left-menu .container-nav-bottom .menu-nav-bottom li{
    list-style: none;
}

.left-menu .container-nav-bottom{
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-menu .container-nav-bottom .menu-nav-bottom{
    height: 150px;
    width: 25px;
}
.left-menu .container-nav-bottom .menu-nav-bottom ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.left-menu .container-nav-bottom .menu-nav-bottom .user{
    width: 25px;
    height: 25px;
    background-color: #808080;
    border-radius: 50%;
    overflow: hidden;
}


/*Footer*/
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    display: flex;
    align-items: flex-end;
    height: 80px;
    color: white;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #282828;
}

/*Footer sezione sinistra*/
.bottom-left{
    display: flex;
    width: 25%;
    height: 80%;
    margin-left: 10px;
}

.container .bottom-left img{
    width: 20%;
}

.img-text-small{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-text-small .txt-bottom-left span{
    font-size: 10px; 
}

.txt-bottom-left{
    display: flex;
    flex-direction: column;
    margin: 0 25px 0 5px;
}

.txt-bottom-left div{
    line-height: 10px;
}

.img-text-small div .fa-heart{
     margin-right: 10px;
}

.img-text-small div i{
    font-size: 12px;
}

/*Footer Sezione Centrale*/
.bottom-center{
    width: 45%;
    display: flex;
    justify-content: center;
}

.progress-bar{
    width: 100%;
}

.play{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-center .progress-bar .play .fa-circle-play{
    font-size: 20px;
}

.progress{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
}

.progress .bar{
    position: relative;
    width: calc(100% - 45%);
    border: 2px solid #5a5a5a;
    border-radius: 2px;
}

.bar .listened{
    width: calc(100% - 80%);
    border: 2px solid #c1c1c1;
    position: absolute;
    top: -2px;
    left: -2px;
}

.increase-decrease{
    display: none;
    width: 100%;
    height: 0;
    border: 2px solid greenyellow;
    position: absolute;
    top: -2px;
    left: -2px;
}

.fa-circle{
    display: none;
    position: absolute;
    left: 80%;
}

.listened .increase-decrease .fa-circle{
    top: -5px;
}

.volume .volume-height .increase-decrease .fa-circle{
    top: -7px;
}

.bar:hover .increase-decrease, .bar:hover .fa-circle,
.volume:hover .increase-decrease, .volume:hover .fa-circle{
    display: block;
}

/*Footer sezione destra*/
.bottom-right{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 11px;
    margin-right: 10px;
}

.bottom-right i{
    margin: 2px 4px
}

.volume{
    position: relative;
    width: calc(100% - 45%);
    border: 2px solid #5a5a5a;
    border-radius: 2px;
}

.volume .volume-height{
    width: calc(100% - 70%);
    border: 2px solid #c1c1c1;
    border-radius: 2px;
    position: absolute;
    top: -2px;
    left: -2px;
}

@media screen and (min-width: 576px){
    .not-mobile{
        display: block;
    }
    main .container-albums{
        width: calc(100% - 200px);
    }

    .left-menu{
        width: 200px;
    }

    .left-menu .container-nav-top{
        height: 22%;
        align-items: flex-start;
        margin-left: 15px;
    }

    .left-menu .container-nav-top .menu-nav-top{
        height: 200px;
    }

    .left-menu .container-nav-top .menu-nav-top li a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
        text-decoration: none;  
    }
    .left-menu .container-nav-top .menu-nav-top li a span{
        color: #77797e;
        font-weight: bold;
        margin-left: 5px;
        transition: 0.5s;
    }
    .left-menu .container-nav-top .menu-nav-top li:hover a span{
        color: #fff;
    }
    .left-menu .container-nav-top .menu-nav-top .not-desktop{
        display: none;
    }
    .menu-nav-top .logo{
        width: 110px;
    }
    .go-to{
        margin-bottom: -10px;
    }



    .container-center{
        height: 40%;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .container-center h4{
        text-transform: uppercase;
        margin: 15px 0;
    }
    .new-playlist{
        display: flex;
        align-items: center;
    }
    .add{
        width: 40px;
        height: 40px;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        color: #000;
        background-color: #77797e;
        transition: 0.3s
    }
    .new-playlist .create{
        margin-left: 5px;
        color: #77797e;
        transition: 0.3s
    }
    .container-center ul li{
        list-style: none;
        margin: 15px 0;
        font-size: 12px;
        color: #77797e;
        transition: 0.3s
    }
    .container-center ul li:hover, .new-playlist:hover .create{
        color: #fff;
        cursor: pointer;
    }
    .new-playlist:hover .add{
        background-color: #fff;
        cursor: pointer;
    }

}
