@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 576px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 15px;
}

/*Main*/
main{
    height: calc(100vh - 80px);
    background-color: #141922;
}

/*Sezione UPGRADE*/
#upgrade{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
}

#upgrade a{
    margin-right: 10px;
    border: 1px solid #bdbebf;
    border-radius: 50px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #bdbebf;
}

#upgrade a:hover{
    border: 1px solid #fff;
    color: #fff;
}

/*Sezione Container Album*/
.container-albums{
    width: 90%;
    float: left;
}

/*Nav*/
.type ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.type li{
    list-style: none;
    margin: 0 10px;
    line-height: 50px;
    color: #77797e;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bolder;
}

.type li:hover{
    color: #fff;
    cursor: pointer;
}
.type ul div{
    margin-top: -15px;
    width: 30px;
    border-bottom: 1px solid #adff2f;
}

.active{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Albums*/
.view-albums{
    width: 90%;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
}

.album img{
    width: 90%;
}

.album{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Left Menu*/
.left-menu{
    width: 10%;
    float: left;
    height: calc(100vh - 160px);
    background-color: #000;
}

/*Footer*/
footer{
    display: flex;
    align-items: flex-end;
    height: 80px;
    color: white;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #282828;
}

/*Footer sezione sinistra*/
.bottom-left{
    display: flex;
    width: 25%;
    height: 80%;
    margin-left: 10px;
}

.container .bottom-left img{
    width: 20%;
}

.img-text-small{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-text-small .txt-bottom-left span{
    font-size: 10px; 
}

.txt-bottom-left{
    display: flex;
    flex-direction: column;
    margin: 0 25px 0 5px;
}

.txt-bottom-left div{
    line-height: 10px;
}

.img-text-small div .fa-heart{
     margin-right: 10px;
}

.img-text-small div i{
    font-size: 12px;
}

/*Footer Sezione Centrale*/
.bottom-center{
    width: 45%;
    display: flex;
    justify-content: center;
}

.progress-bar{
    width: 100%;
}

.play{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa-play{
    padding: 3px;
    border: 3px solid white;
    border-radius: 50%;
}

.progress{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
}

.progress .bar{
    position: relative;
    width: calc(100% - 45%);
    border: 2px solid #5a5a5a;
    border-radius: 2px;
}

.bar .listened{
    width: calc(100% - 80%);
    border: 2px solid #c1c1c1;
    position: absolute;
    top: -2px;
    left: -2px;
}

.increase-decrease{
    display: none;
    width: 100%;
    height: 0;
    border: 2px solid greenyellow;
    position: absolute;
    top: -2px;
    left: -2px;
}

.fa-circle{
    display: none;
    position: absolute;
    top: -8px;
    left: 80%;
}

.bar:hover .increase-decrease, .bar:hover .fa-circle,
.volume:hover .increase-decrease, .volume:hover .fa-circle{
    display: block;
}

/*Footer sezione destra*/
.bottom-right{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 11px;
    margin-right: 10px;
}

.bottom-right i{
    margin: 0 4px
}

.volume{
    position: relative;
    width: calc(100% - 45%);
    border: 2px solid #5a5a5a;
    border-radius: 2px;
}

.volume .volume-height{
    width: calc(100% - 70%);
    border: 2px solid #c1c1c1;
    border-radius: 2px;
    position: absolute;
    top: -2px;
    left: -2px;
}

